<div class="logo">
  <span>JD</span>
</div>
<section class="main-section">

  <div class="center-section">
    <h1 class="my-name">JEFF DAVIS</h1>
    <h2 class="title">UI & UX DESIGNER & ENGINEER</h2>
    <p class="main-section-text">Welcome to my resume, Feel free to click around in order to learn a little bit more about me.</p>
    <section class="navigation-wrap">
      <a class="nav-button active" routerLink="home" mat-button>HOME</a>
      <a class="nav-button" routerLink="skills" mat-button>SKILLS</a>
      <!-- <a class="nav-button" routerLink="portfolio" mat-button>PORTFOLIO</a> -->
      <a class="nav-button" routerLink="experience" mat-button>EXPERIENCE</a>
      <a class="nav-button" routerLink="contact" mat-button>CONTACT INFO</a>
      <span class="underline"></span>
    </section>
  </div>


</section>