<section class="header-section">
  <h1 class="page-title">SKILLS</h1>
  <span class="underline"></span>
</section>
<section class="description-wrap">
  <p class="baic-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section class="skill-wrap">
  <h2 class="skills-title">Design Software</h2>
  <div class="skill">
    <span class="skill-title">Figma, Sketch, photoshop, Illistrator, InDesign </span>
    <mat-progress-bar class="bar" mode="determinate" value="90"></mat-progress-bar>
  </div>

</section>

<section class="skill-wrap">
  <h2 class="skills-title">Design Programming</h2>
  <div class="skill">
    <span class="skill-title">HTML, CSS, SCSS, Angular Material, Bootstrap, Material Design Components(MDC)</span>
    <mat-progress-bar class="bar" mode="determinate" value="100"></mat-progress-bar>
  </div>

</section>

<section class="skill-wrap">
  <h2 class="skills-title">Front End development/Frameworks</h2>
  <div class="skill">
    <span class="skill-title">Angular, AngularJS, Javascript, Typescript, ES6, JQuery, GreenSock(GSAP)</span>
    <mat-progress-bar class="bar" mode="determinate" value="80"></mat-progress-bar>
  </div>

</section>

<section class="skill-wrap">
  <h2 class="skills-title">Unit Testing Frontend</h2>
  <div class="skill">
    <span class="skill-title">Jasmine, Karma, Jest</span>
    <mat-progress-bar class="bar" mode="determinate" value="50"></mat-progress-bar>
  </div>

</section>

<section class="skill-wrap">
  <h2 class="skills-title">Dabbled In</h2>
  <div class="skill">
    <span class="skill-title">GraphQL, Firebase, PHP, MYSQL</span>
  </div>

</section>